<?php
/**
 * The base configurations of the WordPress.
 *
 * This file has the following configurations: MySQL settings, Table Prefix,
 * Secret Keys, and ABSPATH. You can find more information by visiting
 * {@link http://codex.wordpress.org/Editing_wp-config.php Editing wp-config.php}
 * Codex page. You can get the MySQL settings from your web host.
 *
 * This file is used by the wp-config.php creation script during the
 * installation. You don't have to use the web site, you can just copy this file
 * to "wp-config.php" and fill in the values.
 *
 * @package WordPress
 */
// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{ arwp_wpconfig_db_name }}');
/** MySQL database username */
define('DB_USER', '{{ arwp_wpconfig_db_username }}');
/** MySQL database password */
define('DB_PASSWORD', '{{ arwp_wpconfig_db_password }}');
/** MySQL hostname */
define('DB_HOST', '{{ arwp_wpconfig_db_host }}');
/** Database Charset to use in creating database tables. */
define('DB_CHARSET', '{{ arwp_wpconfig_db_charset }}');
/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '{{ arwp_wpconfig_db_collate }}');

// ** frock81.wordpress settings ** //
/** Home location **/
define('WP_HOME', '{{ arwp_wpconfig_home }}');
/** Core files location **/
define('WP_SITEURL', '{{ arwp_wpconfig_siteurl }}');
/** Disable WordPress Auto Updates **/
 define('AUTOMATIC_UPDATER_DISABLED', {{ 'true' if arwp_wpconfig_automatic_updater_disabled else 'false' }});
/** Disable WordPress Core Updates */
define('WP_AUTO_UPDATE_CORE', {{ "'minor'" if arwp_wpconfig_auto_update_core == 'minor' else ('true' if arwp_wpconfig_auto_update_core == true else 'false') }});
/** Language. */
define ('WPLANG', '{{ arwp_wpconfig_language }}');
/** Forces the filesystem method to facilitate plugin installation **/
define('FS_METHOD', '{{ arwp_wpconfig_fs_method }}');
/** Disable the Plugin and Theme Editor **/
define('DISALLOW_FILE_EDIT', {{ 'true' if arwp_wpconfig_disallow_file_edit else 'false'}});
/** Disable Plugin and Theme Update and Installation **/
define('DISALLOW_FILE_MODS', {{ 'true' if arwp_wpconfig_disallow_file_mods else 'false'}});
/** Require SSL for Admin and Logins **/
define('FORCE_SSL_ADMIN', {{ 'true' if arwp_wpconfig_force_ssl_admin else 'false'}});

/**
/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         '{{ arwp_wpconfig_auth_key }}');
define('SECURE_AUTH_KEY',  '{{ arwp_wpconfig_secure_auth_key }}');
define('LOGGED_IN_KEY',    '{{ arwp_wpconfig_logged_in_key }}');
define('NONCE_KEY',        '{{ arwp_wpconfig_nonce_key }}');
define('AUTH_SALT',        '{{ arwp_wpconfig_auth_salt }}');
define('SECURE_AUTH_SALT', '{{ arwp_wpconfig_secure_auth_salt }}');
define('LOGGED_IN_SALT',   '{{ arwp_wpconfig_logged_in_salt }}');
define('NONCE_SALT',       '{{ arwp_wpconfig_nonce_salt }}');
/**#@-*/
/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each a unique
 * prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = '{{ arwp_wpconfig_table_prefix }}';
/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 */
define('WP_DEBUG', {{ 'true' if arwp_wpconfig_debug else 'false' }});
define('WP_DEBUG_LOG', {{ 'true' if arwp_wpconfig_debug_log else 'false' }});
/* That's all, stop editing! Happy blogging. */
/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');
/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');